body,html {
    height: 100%;
    margin: 0px;
    
}

    .back {
        background-image: url(./back.jpg);
        height: 400px;
        opacity: 70%;
        margin: 0px;
    }

    .under1 {
        background-color: gray;
        text-align: center;
        padding: 20px 80px;
        margin: 0px;
    }

        .under1 > h2 {
            width: 100%;
        }

        .under1 > p {
            display: inline-block;
            width: 30%;

        }
    .block1 {
        
        height: 700px;;
        background-color: green;
    }

    .columns {
        margin-left: 235px;
        display: inline-block;
        margin-top: 40px;
    }

        .col1 {
            width: 300px;
            height: 500px;
            margin: 0px;
            margin-left: 10px;
            /* padding: 20px; */
            background-color: white;
            display: inline-block;
            
            
        }
            .block-images1 {
                background-image: url(./col1.jpg);
                background-position: left;
                height: 160px;
                width: 300px;
                display: inline-block;
                /* margin-left: 300px; */
                position:absolute;
                
            }

            .coltext {
                text-align: center;
                margin-top: 200px;
            }

            .coltext > h2 {
                margin: 0px;
                padding-bottom: 10px;
            }

           

        .col2 {
            width: 300px;
            height: 500px;
            margin: 0px;
            margin-left: 10px;
            /* padding: 20px; */
            background-color: white;
            display: inline-block;
            
                
            }

            .block-images2 {
                background-image: url(./col2.jpg);
                height: 160px;
                width: 300px;
                    display: inline-block;
                /* margin-left: 300px; */
                position:absolute;
                    
                }
        .col3 {
            width: 300px;
            height: 500px;
            margin: 0px;
            margin-left: 10px;
            /* padding: 20px; */
            background-color: white;
            display: inline-block;
            
                        
            }
        
            .block-images3 {
                background-image: url(./col3.jpg);
                height: 160px;
                width: 300px;
                display: inline-block;
                /* margin-left: 300px; */
                position:absolute;
                            
                }
    

            